<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learn Vue</title>

</head>
<body>
    <div id="app">
        <h1>{{ message }}</h1>
        <h3>{{ otherThing }}</h3>
        <ol>
            <todo-item
                v-for="aclass in classes"
                v-bind:name="aclass.name"
                v-bind:id="aclass.id + 15"
                v-bind:key="aclass.id">
            </todo-item>
        </ol>
        <ol>
            <todo-item
                v-for="item in items"
                v-bind:name="item.name"
                v-bind:id="item.id + 5"
                v-bind:key="item.id">
            </todo-item>
        </ol>

        <p>
            <button v-on:click="say('hi')">Say Hi</button>
        </p>

        <p>
            <button v-on:click="updateComponentData('child1', true)">Click me</button>
            <child ref="child1"></child>
        </p>
        <p>
            <button v-on:click="updateComponentData('child2')">Click me</button>
            <child ref="child2"></child>
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./my-vue.js"></script>
</body>
</html>
